

<mat-card >

  <mat-card-title [@fadeInOut]>Skills</mat-card-title>
  <mat-card-content>
    <section>
      <div class="row">
        <div class="col" id="lol">
        <h3><img src="assets/braces-line.png" alt="">Front-end Developper</h3>
        <div class="skills_info">
          <div class="skils__data">

            <h3 class="skils"> </h3>
          </div>
          <div class="skils__data">
            <div class="skils__blob">
              <img src="assets/bootstrap.png" alt="skils image" style="width:110px;height:70px;">
            </div>

          </div>
          <div class="skils__data">
            <div class="skils__blob">
              <img src="assets/tailwand.png" alt="skils image" style="width:130px;height:60px;">
            </div>

          </div>
          <div class="skils__data">
            <div class="skils__blob">
              <img src="assets/vuejs.png" alt="skils image" style="width:100px;height:80px;">
            </div>
          </div>
          <div class="skils__data">
            <div class="skils__blob">
              <img src="assets/react.png" alt="skils image" style="width:100px;height:80px;">
            </div>
          </div>
        </div>
    </div>
    <div class="col">
        <h3><img src="assets/pantone-fill.png" alt="">Ui/Ux Design</h3>
        <div class="skills_info">

          <div class="skils__data">
            <div class="skils__blob">
              <img src="assets/figma.png" alt="skils image" style="width:120px;height:90px;">
            </div>
          </div>
          <div class="skils__data">
            <div class="skils__blob">
              <img src="assets/adobexd.png" alt="skils image" style="width:110px;height:70px;">
            </div>
          </div>
        </div>
        <div class="skills_content">
          <div class="skills_info">
            <div class="skils__data">
              <div class="skils__blob">
                <img src="assets/photoshop.png" alt="skils image" style="width:110px;height:85px;">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  </mat-card-content>
</mat-card>

