<mat-card>


  <mat-tab-group [@fadeInOut]>
    <mat-tab label="Web Development" id="barre">
      <p>I offer full-stack web development services, including front-end development with HTML, CSS, and JavaScript, as well as back-end development with technologies such as Node.js, Express, and MongoDB.</p>

      <p>Whether you need a simple landing page or a complex web application, I can help bring your project to life. I prioritize clean, scalable, and user-friendly code, and I am always learning new technologies to stay up to date with industry standards.</p>
    </mat-tab>

    <mat-tab label="Mobile App Development" id="barre">
      <p>I also have experience developing mobile applications for iOS and Android using technologies such as React Native and Flutter.</p>

      <p>If you have an idea for a mobile app, I can help you turn it into a reality. From prototyping to deployment, I can guide you through the entire process and deliver a high-quality product that meets your needs.</p>
    </mat-tab>

    <mat-tab label="Consulting" >
      <p>In addition to development services, I offer consulting services to help you understand the technical aspects of your project and make informed decisions about the best solutions for your business.</p>

      <p>I can help you with everything from choosing the right technologies to planning and executing a development roadmap. Let's work together to turn your vision into a reality.</p>
    </mat-tab>
  </mat-tab-group>

  <mat-divider></mat-divider>

  <h2 [@fadeInOut]>Pricing</h2>

  <p>My pricing is based on the scope and complexity of the project. I am happy to provide a free consultation and estimate for your project, so don't hesitate to get in touch.</p>

  <p>I am committed to delivering value and exceeding your expectations, and I always strive to be transparent and fair in my pricing.</p>
</mat-card>
