<section class="about">
  <div class="container">
    <h1 class="tetx-center">About</h1>
    <blockquote>

    <p>&nbsp;&nbsp;&nbsp;I am very passionate about web development and have 2 years of experience with software development .<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; My engineering background has enabled me to build software with a cyclical design process,

    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;so I try and communicate frequently with clients to ensure product quality and satisfaction.</p>
  </blockquote>
  </div>
</section>
<div class="profile">
  <img class="imageprofile" mat-card-image src="assets/profile-image.jpg" alt="Profile image">
  </div>


<div class="definition">

  <mat-card [@openClose]="'in'">
    <mat-card-title >Frontend Developper & Ui/Ux Designer</mat-card-title>
    <mat-card-content>
      <br>
        <div>

          <p>&nbsp;Hi ! I am Frontend Developper - UI/UX Designer , I am ready to help You</p>
          <br>
          <div class="row">
            <div class="column">
              <p>Birthday : 11 Fevrier 1998</p>
              <p>Linkedin : <a href="https://www.linkedin.com/in/merdassi-hamza-0271a7201/">HAMZA MARDESSI</a></p>
              <p>Phone : +216 54 035 174</p>
              <p>country & City : Tunisia - Bizerte</p>
            </div>
            <div class="column">
              <p>Age: 24</p>
              <p>Degree : Master</p>
              <p>Email : hamzzamardessi@gmail.com</p>
              <p>Freelance : Available</p>
            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </mat-card-content>
  </mat-card>
</div>

